# Python
__pycache__/
*.pyc
venv/
.env

# AI / Medical data
datasets/
data/
*.nii
*.nii.gz
*.dcm
models/
checkpoints/

# Node
node_modules/
dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Medical imaging
*.nrrd
*.nii
*.nii.gz
*.dcm
upload/
datasets/
data/
models/
checkpoints/